---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
---

<Layout title="Heather Miller Paintings">
	<main>
		<div class="page-layout">
			<h1>Heather Miller Paintings</h1>
			<Header />
			<!-- <p class="tagline">CONTEMPORARY ARTIST IN HERTFORDSHIRE INSPIRED BY THE NATURAL WORLD</p> -->
			<section class="page-section intro">
				<h2>Current Exhibitions</h2>
				<div class="section-content">
					<img src="heather-1.jpg" alt="Photo of Heather in front of her art" />
					<section class="exhibition-list">
						<article class="exhibition">
							<h3>The Affinity Exhibition</h3>
							<p>A friendship forged through paint. I am delighted to be exhibiting in a joint exhibition with my dear friend Annmarie Thomas at Fisherton Mill in Salisbury. The exhibition runs from 8th January to 5th February</p>
						</article>
						<article class="exhibition">
							<h3>ART @ MG</h3>
							<p>Mardleybury Gallery.<br />Open Thursday - Sunday<br />11:00am - 4:30pm</p>
						</article>
						<article class="exhibition">
							<h3>Contemporary Art Fairs</h3>
							<p>Sandown Park Racecourse<br />Surrey<br />4th-6th March 2022</p>
						</article>
						<p>My work also available at The Wynd Gallery, Parndon Mill and The Corner Gallery Carshalton</p>
					</section>
				</div>
			</section>
			<section class="page-section recent-work">
				<h2>Recent work</h2>
			</section>
		</div>
	</main>
</Layout>

<style>
	main {
		width: 100%;
		padding-top: 1em;
	}
	.page-layout {
		max-width: 1200px;
		margin: 0 auto;
	}
	section {
		margin: 0 1em;
	}
	section.page-section {
		margin-top: 2rem;
		display: flex;
		flex-direction: column;
		gap: 1em;
	}
	.section-content {
		display: flex;
		gap: 2em;
	}
	h1 {
		font-size: 3rem;
		line-height: 6rem;
		font-weight: 200;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		text-align: center;
	}
	h2 {
		font-size: 2.2rem;
		line-height: 2.6rem;
		font-weight: 300;
		letter-spacing: 0.1rem;
	}
	h3 {
		font-size: 1.6rem;
		line-height: 2rem;
		font-weight: 300;
		opacity: 90%;
	}
	p {
		font-size: 1.1rem;
		line-heigh: 1.2rem;
		color: #444;
	}
	.exhibition-list {
		display: flex;
		flex-direction: column;
		gap: 2em;
	}
	.exhibition {
		display: flex;
		flex-direction: column;
		gap: .4em;
	}
	.tagline {
		margin: 1em;
		font-size: 1.2rem;
		line-height: 1.6rem;
		letter-spacing: 0.1rem;
		font-weight: 200;
		font-style: italic;
	}
</style>
