<nav>
	<ul>
		<li><a href="/home">Home</a></li>
		<li><a href="/gallery">Gallery</a></li>
		<li><a href="/shop">Shop</a></li>
		<li><a href="/blog">Blog</a></li>
		<li><a href="/contact">Contact</a></li>
		<li><a href="/info">Info</a></li>
		<li><a href="/about">About</a></li>
		<li><a href="/my-account">My Account</a></li>
		<li><a href="/cart">Cart</a></li>
	</ul>
</nav>

<style>
	nav {
		margin-top: 1em;
		border-top: 1px solid black;
		border-bottom: 1px solid black;
	}
	ul {
		display: flex;
		justify-content: space-around;
		padding: 1.2em 0;
	}
	li {
		list-style: none;
		font-size: 0.8rem;
		padding: 0 0.6em;
	}
	a {
		color: rgb(71, 85, 105);
		text-decoration: none;
		text-transform: uppercase;
		font-weight: 300;
	}
</style>
